@model IEnumerable<PRN222_Project.Models.SalaryLog>

<h2>Danh sách bảng lương</h2>
@* <a asp-action="Create" class="btn btn-primary">Thêm bảng lương</a> *@

<table class="table">
    <thead>
        <tr>
            <th>Tên nhân viên</th>
            <th>Tháng</th>
            <th>Năm</th>
            <th>Tổng lương</th>
            <th>Thưởng</th>
            <th>Tổng thu nhập</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Employee.FullName</td>
                <td>@item.Month</td>
                <td>@item.Year</td>
                <td>@item.TotalSalary.ToString("N0")$</td>
                <td>@(item.Bonus.HasValue ? item.Bonus.Value.ToString("N0") + "$" : "0 $")</td>
                <td>@(item.TotalSalary + item.Bonus)$</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
